#timer {
    position: fixed;
    bottom: 0px
}

ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    list-style: none;
    margin: 0;
}

#convo-box {
    position: relative;
    background-color: cadetblue;
    height: 60vw;
    margin: 0;
}

p {
    margin: 1px
}

.creator-text {
    text-align: end;
    right: 0px;
    background-color: coral;
    width: 80%;
}

.creation-text {
    background-color: slateblue;
    width: 80%;
}

#creator-input {
    position: absolute;
    bottom: 0px;
    right: 10%;
    width: 80%;
    text-align: end;
    opacity: 50%;
}

#creation-box {
    border: solid 3px black;
    border-top: solid 1px pink;
}

#edge {
    position: relative;
    top: 130px;
    z-index: -1;
}