body {
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

#timer {
    position: fixed;
    bottom: 0px;
    color: black;
}

ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    list-style: none;
    margin: 0;
}

#convo-box {
    position: relative;
    background-image: url('https://images.wallpapersden.com/image/download/cyrodiil-pixel-art_64352_2380x1490.jpg');
    background-size: contain;
    height: 230px;
    margin: 0;
}

p {
    margin: 1px
}

.creator-text {
    padding: 1px;
    text-align: end;
    right: 0px;
    background-color: #0460ffa1;
    width: 80%;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.creation-text {
    background-color: #f956fd8c;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#creator-input {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: end;
}

#input-box {
    background-color: #ffffff5e;
    border: none;
    width: 80%;
}

#creation-box {
    background-color: #012c54;
}

#edge {
    position: relative;
    top: 130px;
    z-index: -1;
}