/* colors
#ed00bb - pink
#2abaee - light blue
#440853 - dark purple
Black
white */

body {
    background-color: #440853;
    color: #2abaee
}

h1 {
    color: #ed00bb;
}

p {
    color: #ed00bb
}

#gender-section {
    display: flex;
    flex-direction: column;
}